


/* *{
  outline-style: solid;
  outline-color: red;
} */
a:Link, a:visited{
  text-decoration:none;
  color:rgb(18, 86, 99);
}

a:hover, a:active {
  color: rgb(82, 48, 193);
  text-decoration: underline;
}

body{
  background-image:url("https://img.freepik.com/premium-vector/dog-butterfly-oneline-art-drawing-color-art-vector_175735-110.jpg?w=2000") ;
  background-repeat: no-repeat;
  background-size:1350px;
  background-position: center;
  background-position-y: -200px;
  background-color: rgb(247, 250, 253);
  font-family: 'Barlow', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 45px ;
}
/* nav */
nav{
  background-color: #ace999;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
  opacity:.7 ;
  height: 30px;
  width: 95vw;
  font-size: 20px;
}
#home{
  padding-left: 10px;
  font-size: 25px;
}
.about-hotline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#hotline, #about{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}

/* compliments  */
.complimentCard, .puppyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* headers in borders */
.compliment,.puppy, .hotline-head{
  background-color: rgb(172, 233, 153);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0px;
  border-radius: 11px 11px 0 0;
}
.hotline-head{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.hypeDetails, .puppyDetails{
  width: 500px;
  margin-top: 150px;
  border: 5px outset rgba(149, 139, 139);
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.889);
}
.hypeDetails{
  height: 400px;
}
.picContainer{
  padding-top: 10px;
}
.puppyPics{
  width: 350px; 
  border-radius: 5px;
}
.breedName {
  font-size: 25px;
}
/* text inside compliment card */
.text{
  padding-top: 100px;
  font-size: 35px;
}

.happyBtn, .puppyBtn{
  background-color: rgb(161, 219, 219);
  border-color: rgb(112, 160, 232);
  border-radius: 25px;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  font-size: 18px;
}
.homeCard {
  display: flex;
  justify-content: space-evenly;
  margin-top: 250px;
  
}
.cards {
  border: 5px solid #ace999;
  border-radius:25px;
  background-color: rgba(112, 160, 232, 0.907);
  width: 250px;
  height:60px;
  padding-top: 30px;
  padding-bottom: 0;
  font-size: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.container1, .container2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container2{
  justify-content: center;
}
.hotline{
  border: 5px solid rgba(149, 139, 139);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(240, 248, 255, 0.889);
}
.header{
  font-weight: black ;
  font-size: 30px;
}
span{
  color: blue;
  font-size: 20px;
}
.pContainer{
  background: rgba(240, 248, 255, 0.313);
  font-size: 20px;
  width: 600px;
}
.img200x100{
  width: 200px;
  height: 100px;
}
.img200x200{
  width:200px;
  height:100px;
}
.img200x50{
  width:200px;
  height:50px;
}

@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  nav{
    display:flex;
    flex-direction: row;
    width:450px;
    padding-left: 10px;
    justify-content: space-evenly;
  }
  #about, #hotline{
    margin-right: 15px;
    padding-left: 30px;
    
  }
  
  .homeCard{
    flex-direction: column;
    margin-top: 100px;
    
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height:150px;
    width: 350px;
    padding:0;
    font-weight: bolder;
    font-size: 40px;
  }
  #introP{
    margin-left: 150px;
  }
  .puppyPics{
    width: 250px;
  }
  .hypeDetails, .puppyDetails{
    width: 300px;
    margin-top:50px;
    margin-bottom: 10px;

  }
  .happyBtn, .puppyBtn{
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .text{
    margin: 0;
    padding-top:70px;
  }
  .pContainer {
    width: 350px;
  } 
  .container1, .container2{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .hotline {
    margin: 10px;
  }
  
}
